<!DOCTYPE html>
<html>
  <head>
    <title>Note20</title>
    <link rel='stylesheet' href='/stylesheets/dashboard.css' />
  </head>


  <body>
    <ul id='header'>
      <li id='logo'><img src='images/topbar-logo.png' height='20' width='60'/></li>
      <li class='dropdown'>
        <p class='dropbtn'/><%= user %></p>
        <div class='dropdown-content'>
          <a id='logout' href='/logout'>Se déconnecter</a>
        </div>
      </li>
    </ul>
    <div class='container'>
      <div class='topbar'>
        <div class='left-button'><a href='/new'>+ | Nouvelle note</a></div>
        <h1>Notes</h1>
        <div class='dropdown'>
          <div class='dropbtn' id='sort'>
            Tri : 
            <% if(sort == 1) { %>plus récentes<% } %>
            <% if(sort == 2) { %>Alphabétique<% } %>
            <% if(sort == 0) { %>Par défaut<% } %>
          </div>
          <div class='dropdown-content'>
            <a href='/?sort=0'>Par défaut</a>
            <a href='/?sort=1'>Plus récentes</a>
            <a href='/?sort=2'>Alphabétique</a>
          </div>
        </div>
      </div>
      <div class='notes-container'>
          <% for(var i = 0; i < notes.length; i++) { %>
            <div class='note' id='<%= notes[i]._id %>'>
                <header onclick="location.href='/edit?note=<%= notes[i]._id %>';"><%= notes[i].title %></header>
                <p onclick="location.href='/edit?note=<%= notes[i]._id %>';"><%= notes[i].content %></p>

               <div class='note-footer'>
                <%= notes[i].date.getDate() %> / <%= notes[i].date.getMonth() + 1 %> / <%= notes[i].date.getFullYear() %>
                <a id='delete-button' href='/delete?note=<%= notes[i]._id %>'>supprimer</a>
              </div>
            </div>
          <% } %>
          <% if(notes.length == 0) { %>
            <p>Aucune note à afficher</p>
          <% } %>
      </div>
    </div>
  </body>
</html>
